
body{
	color: white;
	background-color: #efb34a;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
header{
	display: flex;
	justify-content: center;
	margin: 5px;
	background-color: #194a40;
	font: 24px/36px sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
#fczas{
	font-size: 3em;
}
h1{
	border-bottom: 2px solid whitesmoke;
	padding-bottom: 0.5em;
}

/*nav*/.scroll {
background-color: #4d7752;
	position: absolute;
	float: left;
	border: 2px solid #194a40;
  padding: 10px;
  border-radius: 10px;
  overflow-x: hidden;
	width: 25%;
	height: 75%;
	overflow-y: hidden;
	margin: 5px;
font: 18px sans-serif;
}
/* .owndate{
	display: flex;
	justify-content: space-;
} */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}
::-webkit-scrollbar-track {
border: 1px solid #194a40;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #194a40;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: white;
}

ul{
	width: 100%;
	list-style-type: none;
	padding: 0;
	overflow: auto;
	height: 400px;
}
li{
	width: 90%;
	height: 50px;
	background-color: #9bc990;
	margin: auto;
	margin-top: 5px;
	display: flex;
	cursor: pointer;
	align-items: center;
	text-overflow: clip;
}

li:hover{
	margin-top: 5%;
	margin-bottom: 5%;
	padding-right: 20px;
	transition: 0.5s;
  }
li:hover::after{
	opacity: 1;
	right: 30px;
}
label{
	margin-top: 1.5em;
}
button > p{
	position: relative;
	z-index: 2;
	padding: 10px 20px;
	margin: 0;
}

button{
	background-color: #4d7752;
	float: right;
	margin: 0;
	padding: 0;
	border: 4px solid whitesmoke;
	position: relative;
	transition: .5s;
	color: whitesmoke;
}
button::after{
	content:'';
	width: calc(100% + 8px);
	height: 85%;
	background-color: #4d7752;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	transition: 0.5s ease-in-out;
}
button::before{
	content:'';
	height: calc(100% + 8px);
	width: 85%;
	background-color: #4d7752;
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%,-50%);
	z-index: 1;
	transition: 0.5s ease-in-out;
	transition-delay: .5s;
}
button:hover::after{
	height: 0;
}
button:hover::before{
	width: 0;
}

main{
	margin-left: 200px;
}
section{
	margin-top: 5%;
	margin-left: 10%;
	display: flex;
	justify-content: space-evenly;

}
section > section{
	width: 40%;
	margin: auto;
	border: 1px solid black;
	height: 100%;
	background:radial-gradient(#dabea7 ,#dfb27c);
}
.kartka{
font-size: 24px;
font-family: Luminari, fantasy;
text-align: center;
}
.strzalki{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-size: 2em;
	color: rgba(0,0,0,.6);
	padding-right: 1.5em;
	padding-left: 1.5em;
}
.daty{
	font-size: 36px;
	border: 2px solid #194a40;
    padding: 10px;
    border-radius: 10px;
	text-align: left;
	align-self: center;
	width: 30%;
	height: 50%;
	background-color: #4d7752;
}
.odltytul{
	
	display: inline;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid white;
}
.dzien{
	color: crimson;
	font-size: 90px;
	margin: 0;
}
.miesiac{
	color: rgba(0,0,0,.6);
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
	margin: 0;
}
.swieto{
	color: rgba(0,0,0,.6);
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
	text-decoration: underline;
	font-size: 50px;
	margin-bottom: 60px;
	margin-top: 30px;
}
.imieniny{
	color: rgba(0,0,0,.6);
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
	font-size: 40px;
	margin: 0;
}
.przyslowie{
	color: rgba(0,0,0,.6);
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
	font-size: 20px;
	margin: 0;
	margin-top: 20px;
}
h3{
	color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
	margin: 0;
}
